/* body{
	background:orange;
} */

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.delete-form{
	display:inline;
}

#leftButton a{
    margin-bottom: 5%;
}
#leftButton .selection {
   color: white;
    text-decoration: none;
}


.trademark{
        text-align: center;
        background-color:#e9ecef;
        padding: 3%;
    margin-top: 5%;
    color: black;
    font-weight: 300;
    font-size: larger;
    letter-spacing: 3px;
}

#leftButton :hover{
    background-color: #1E90FF;
    
}