/* body{
	background:orange;
} */

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.delete-form{
	display:inline;
}

#leftButton a{
    margin-bottom: 5%;
}
#leftButton .selection {
   color: white;
    text-decoration: none;
}

#Cresult{

    margin: 5%;
    width: 90%;
}

#Cresult .tb{
    width: 50%;
    height: 80%;
}

#Comment{
    margin:4% 5%;
    font-weight: 500;
    font-size: 110%;
}
#resultCard{
    margin-top: 15%;
}
#resultRow{
    margin-left: 12%;
}
#SRB{
    width: 80%;
    text-align: center;
    margin-left: 8%;
    margin-top: 10%;
}

#job{
    margin-top: 3%;
    
}

.trademark{
        text-align: center;
        background-color:#e9ecef;
        padding: 3%;
    margin-top: 10%;
    margin-bottom: 0;
    color: black;
    font-weight: 300;
    font-size: larger;
    letter-spacing: 3px;
    
    width: 100%;
}

#leftButton :hover{
    background-color: #1E90FF;
    
}